/* p {
    text-align: center;
    color: red;
    font-weight: 400;
}

form,div {
    text-align: center;
}

input {
    margin: 10px 0;
    padding: 10px 0;
}
#loginone{
    margin: 0 auto;
    width: 50px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px #3E3E3D;
} */

body {
    position: relative;
}

.signInDialog {
    display: none;
    /* position: absolute;
    z-index: 22; */
}

.changeDialog {
    display: block;
}

.signUpDialog {
    display: none;
}

.signUpDialog {
    display: none;
}
.changeSignUpDialog{
    display: block;
}
/* #changeSignUp:hover>.signUpDialog {
    display: block;
} */
/* #changeSignUp:hover{
    color:red;
} */