@charset "utf-8";
body{ overflow:hidden;}
#moquu_top,#moquu_wxin,#moquu_wshare,#moquu_wmaps,#qq,#qq1,#qq2,#qq3{
	z-index:2;
	width:50px;
	height:50px;
	right:0px;
	position:fixed;
	cursor:pointer;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))
}

#qq {
}

#qq a {
	background:url(../images/sbtn.fw.png) 0 -209px;
	right:0;
	float:left;
	width:50px;
	height:50px;
	text-indent:-9999px
}
#qq a:hover {
	background:url(../images/sbtn.fw.png) -50px -209px
}

#qq1 a {
	background:url(../images/sbtn.fw.png) 0 -209px;
	right:0;
	float:left;
	width:50px;
	height:50px;
	text-indent:-9999px
}
#qq1 a:hover {
	background:url(../images/sbtn.fw.png) -50px -271px
}


#qq2 a {
	background:url(../images/sbtn.fw.png) 0 -209px;
	right:0;
	float:left;
	width:50px;
	height:50px;
	text-indent:-9999px
}
#qq2 a:hover {
	background:url(../images/sbtn.fw.png) -50px -337px
}

#qq3 a {
	background:url(../images/sbtn.fw.png) 0 -209px;
	right:0;
	float:left;
	width:50px;
	height:50px;
	text-indent:-9999px
}
#qq3 a:hover {
	background:url(../images/sbtn.fw.png) -50px -406px
}


#moquu_wxin {
	top:410px;
	_margin-top:410px
}

#moquu_wxin a {
	background:url(../images/sbtn.fw.png) 0 -0px;
	right:0;
	float:left;
	width:50px;
	height:50px;
	text-indent:-9999px
}
#moquu_wxin a:hover {
	background:url(../images/sbtn.fw.png) -50px -0px
}
#moquu_wshare {
	top:462px;
	_margin-top:412px
}
#moquu_wshare a {
	background:url(../images/sbtn.fw.png) 0 -50px;
	width:50px;
	height:50px;
	right:0;
	float:left;
}
#moquu_wshare a:hover {
	background:url(../images/sbtn.fw.png) -50px -50px
}
#moquu_wmaps {
	top:514px;
	_margin-top:464px
}
#moquu_wmaps a {
	background:url(../images/sbtn.fw.png) 0 -150px;
	width:50px;
	height:50px;
	right:0;
	float:left;
	text-indent:-9999px
}
#moquu_wmaps a:hover {
	background:url(../images/sbtn.fw.png) -50px -150px
}
#moquu_top {
	top:566px;
	_margin-top:516px;
	background:url(../images/sbtn.fw.png) 0 -101px;
	width:50px;
	height:50px
}
#moquu_top:hover {
	background:url(../images/sbtn.fw.png) -50px -101px
}
.moquu_wxin,.moquu_wshare {
	position:relative;
	z-index:2
}
.moquu_wxin a:hover .moquu_wxinh,.moquu_wshare a:hover .moquu_wshareh {
	display:block
}
.moquu_wxin .moquu_wxinh {
	position:absolute;
	display:none;
	left: -215px;
    top: -19px;
    width: 217px;
    height: 222px;
	background:url(../images/lrtk_weixin.png) 0 -2px no-repeat
}
.moquu_wshare .moquu_wshareh {
	position:absolute;
	display:none;
	left:-273px;
	top:-137px;
	width:275px;
	height:261px; background:#fff;
	background:url(../images/lrtk_app.png) no-repeat;
}


/**head1**/
#head{ background:#fff; position:relative; height:70px; border-bottom:1px solid #D6D6D6;}
.logo{ width:114px; height:146px; position:absolute; left:3%; z-index:99999;}
.nav{ float:right; margin-right:45px;}
.nav li{ float:left; width:100px;background:url(../images/xian.jpg) right top repeat-y;}
.nav li a{ display:block; width:100px; height:69px; line-height:69px; text-align:center; font-size:16px;  color:#666;-webkit-transition:all .33s ease-out;
-moz-transition:all .33s ease-out;
-o-transition:all .33s ease-out;
-ms-transition:all .33s ease-out;background:url(../images/nav_bg.jpg) repeat-x left -200px; color:#000;}
.nav li a:hover{ background:url(../images/nav_bg.jpg) repeat-x; color:#000;}
.nav li a.now{ background:url(../images/nav_bg.jpg) repeat-x; color:#000;}
.h_link{ float:right; margin-right:3%; margin-top:18px;}
.h_link a{ display:block; float:left;}
.h_link .phone{ background:url(../images/phone.fw.png) no-repeat left bottom; height:32px; width:32px;  margin-right:15px;-webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;}
.h_link .phone:hover{ background:url(../images/phone.fw.png) no-repeat left top;
	
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);}
.h_link .weixin{background:url(../images/phone.fw.png) no-repeat right bottom; height:32px; width:32px;-webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;}
.h_link .weixin:hover{ background:url(../images/phone.fw.png) no-repeat right top;-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);}




/*****main******/
#main{}
.main{ margin:0 auto; padding-top:10px;}
.m1{}
.fuwulist{ width:1190px; margin:0 auto;}
.fuwulist .f1,.fuwulist .f2{ float:left; width:595px; padding:40px 0;}
.line{ float:left; background:#eee; height:1px; display:block; width:1190px;}
.fuwulist dl{ width:280px;}
.fuwulist dl dt{ font-size:30px; color:#333; margin-bottom:10px;}
.fuwulist dl dd{ border:1px solid #ddd; color:#777; float:left; padding:5px 5px; margin-right:5px; margin-bottom:5px;}
.fuwulist dl dd:hover{ background:#f2f2f2;}
.fuwulist .f1_img,.fuwulist .f2_img{ width:152px; height:152px;-webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;}
.fuwulist .f1_img:hover,.fuwulist .f2_img:hover{-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);}

.title1{ margin:60px 0 0px 0; padding-bottom:40px; background:url(../images/title1.jpg) no-repeat center bottom;}
.title1 h2{text-align:center; font-size:40px; font-family:"微软雅黑"; font-weight:normal; color:#323344; margin-bottom:5px;}
.title1 h3{ text-align:center; color:#888; font-weight:normal;}

.m2{ background:#333645; padding-top:45px; padding-bottom:30px;}
.title2{ margin-bottom:30px;}
.title2 h2{text-align:center; font-size:45px; font-family:"微软雅黑"; font-weight:normal; color:#fff; margin-bottom:5px;}
.title2 h3{ text-align:center; color:#888; font-weight:normal; font-size:16px; color:#fff;}
.anli{ width:1280px; margin:0 auto;}
.anli_fl{}
/**tabs**/
.tabPanel ul{ margin:0 auto; width:800px; margin-bottom:50px;}
.tabPanel ul li{ float:left; border:2px solid #999BA2; height:28px; padding:0 3px; margin-right:4px; line-height:28px; font-size:18px; color:#999BA2; font-weight:bold; cursor:pointer; margin-bottom:5px;
}

.tabPanel .hit{
	background:#D9251D; color:#fff; border:2px solid #D9251D;
}
.tabPanel ul .l1{border:2px solid #fff; color:#fff;}
.tabPanel ul .l2{border:2px solid #fff;}
.tabPanel ul .l3{ color:#fff;}
.pane{display:none;}
.panes .pane:first-child{ display:block;}
.pane dl dd{ float:left; position:relative; -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;}
.pane dl dd div{ display:none; position:absolute;  left:0; top:0; height:204px; width:251px; z-index:999; background:url(../images/bga.fw.png); border-radius:5px;}
.pane dl dd div h2{ display:block; color:#fff; text-align:center; padding:30px 10px 20px 10px; font-size:24px; font-weight:normal;}
.pane dl dd div p{ color:#999; font-size:12px; padding:0 20px; color:#BDBEC3; line-height:18px;}
.pane dl dd:hover{ display:block;-webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2); z-index:9999;}
.pane dl dd:hover div{ display:block;}
.pane dl dd a{ display:block;}
.pane dl dd a img{ width:251px; height:204px; margin-right: 5px;
    margin-bottom: 5px; border-radius:5px;}

.m3{ background:url(../images/news_bg.jpg) center top; background:none; height:565px;}
.title3{ padding-bottom:0px; background:url(../images/x2.jpg) no-repeat center 125px; width:1190px; margin:0 auto; margin-bottom:45px;}
.title3 h2{text-align:center; font-size:40px; padding-top:60px; font-family:"微软雅黑"; font-weight:normal; color:#323344; margin-bottom:5px;}
.title3 h3{ text-align:center; color:#888; font-weight:normal; width:76px; height:23px; color:#fff; background:#DA251D; line-height:23px; text-align:center; margin:0 auto; margin-top:12px;}

.about{ background:#fff; height:105px; width:1190px; margin:0 auto; margin-bottom:25px;}
.about div span{ display:block; height:105px; background:#D9251D; width:150px; line-height:105px; text-align:center;color:#fff; font-size:30px; float:left; margin-right:10px;}
.about div p{ float:right;line-height:20px; color:#666; width:1000px; padding:15px;}

.news{ width:1190px; margin:0 auto;}
.news dl{ float:left; margin-left:18px; background:#fff; border:1px solid #ddd; padding-bottom:25px;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;}
	.news dl:hover{ -webkit-transform:translateY(10px);}
.news dl:first-child{ margin-left:0;}
.news dl dt{ margin-bottom:10px;}
.news dl dt a{ display:block;}
.news dl dd{ height:40px; line-height:40px; background:url(../images/i_r14_c3.jpg) repeat-x left bottom; margin:0 20px;}
.news dl dd a{ font-size:14px;}
.news dl dt a img{ width:281px; height:184px;}
/*****main******/
#m4{ height:804px; background:#F7F7F7;}
.m4about{ width:1190px; margin:0 auto;}
.m4aboutimg{ background:url(../images/aboutus.jpg); height:191px; width:1190px; margin-top:50px; position:relative; overflow:hidden;}
.m4aboutimg .h1h2{ height:382px; width:1190px; position:absolute; left:0; top:0;-webkit-transition:all .33s ease-out;
-moz-transition:all .33s ease-out;
-o-transition:all .33s ease-out;
-ms-transition:all .33s ease-out;}
.m4aboutimg h1{  height:191px; line-height:191px; font-size:68px; color:#fff; text-align:center; font-weight:normal;filter:alpha(opacity=80);  
-moz-opacity:0.8;  
-khtml-opacity: 0.8;  
opacity: 0.8; width:1190px;}

.m4aboutimg h2{  height:191px; line-height:191px; font-size:38px; color:#fff; text-align:center; font-weight:normal; width:1190px;}
.m4aboutimg:hover .h1h2{ left:0; top:-191px;}
.m4about p{ line-height:28px; font-size:16px; text-indent:2em; color:#666; padding:30px 10px; border-bottom:1px solid #ddd;}
.aboutico{ margin-top:40px;}
.aboutico li{ float:left; width:297px; font-size:18px; text-align:center; color:#444;}
.aboutico li a{ display:block; height:140px; width:140px; margin:0 auto; margin-bottom:15px;-webkit-transition:all .33s ease-out;
-moz-transition:all .33s ease-out;
-o-transition:all .33s ease-out;
-ms-transition:all .33s ease-out;}
.aboutico li.i1 a{ background:url(../images/aboutico.fw.png) left top; display:block;}
.aboutico li.i1 a:hover{ background:url(../images/aboutico.fw.png) left bottom;}
.aboutico li.i2 a{ background:url(../images/aboutico.fw.png) -302px -1px; display:block;}
.aboutico li.i2 a:hover{ background:url(../images/aboutico.fw.png) -302px bottom;}
.aboutico li.i3 a{ background:url(../images/aboutico.fw.png) -582px -0px; display:block;}
.aboutico li.i3 a:hover{ background:url(../images/aboutico.fw.png) -582px bottom;}
.aboutico li.i4 a{ background:url(../images/aboutico.fw.png) -875px -0px; display:block;}
.aboutico li.i4 a:hover{ background:url(../images/aboutico.fw.png) -875px bottom;}

/****foot********/
#foot{ background:#333645; padding:40px 0 30px 0;height:180px; margin-top:-12px;}
.foot{ width:1190px; margin:0 auto; position:relative; }
.foot h2{ font-size:34px; color:#fff; margin-bottom:15px;}
.foot p{ font-size:14px; color:#fff; line-height:21px;}
.foot p a{ color:#71737D;}
.foot .wx{ position:absolute; right:0; top:0px; width:119px; height:137px; color:#fff; text-align:center; background:#5C5E6A; padding:5px;}
.foot .foottxt{ position:absolute; right:200px; top:10px; color:#fff; text-align:center;}
.foot .wx img{ margin-bottom:5px;}




/******************/
.dh{-webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;}
.dh:hover{-webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);}
.tit1{ padding-top:90px;}
.tit1:hover{transform: translateY(-15px);}
.content{ width:1130px; margin:0 auto; margin-top:-90px; background:#fff; padding:30px;}
.about_p1{ width:540px; float:left;}
.about_p2{ width:540px; float:right;}
.about_p1 .span{ font-size:20px; color:#666; border-bottom:2px solid #666; margin-bottom:30px;}
.about_p1 h2{ font-size:60px; font-weight:normal; margin-top:35px; margin-bottom:15px;}
.about_p1 h3{ font-size:35px;font-weight:normal; margin-bottom:10px; color:#666;}
.about_p1 h3 span{ color:#D8251D;}
.about_p1 h4{ font-size:30px;font-weight:normal; margin-bottom:30px;color:#666;}
.about_p1 p{ line-height:23px; border-left:2px solid #aaa; padding-left:10px; font-size:14px; color:#666;}

.about_p5{ background:url(../images/pic2.jpg) no-repeat center top; height:419px; position:relative; margin-top:80px;}
.about_p5 p{ background: url(../images/tit3.fw.png) no-repeat left top; height:300px; width:400px; position:absolute; right:0; top:0; padding-top:100px; line-height:22px;}

.top{ background:url(../images/pic3.jpg) center top; height:170px; margin-top:50px; padding-top:90px;}
.top a{ display:block; height:50px; width:160px; text-align:center; line-height:50px; color:#fff; border:1px solid #fff; margin:0 auto; font-size:24px; position:relative; overflow:hidden;-webkit-transition:all .33s ease-out;
-moz-transition:all .33s ease-out;
-o-transition:all .33s ease-out;
-ms-transition:all .33s ease-out;}

.top a .s1{ display:block; height:100%; width:100%; color:#fff; position:absolute; top:0; left:0;-webkit-transition:all .33s ease-out;
-moz-transition:all .33s ease-out;
-o-transition:all .33s ease-out;
-ms-transition:all .33s ease-out;}
.top a .s2{ display:block; height:100%; width:100%; color:#fff; position:absolute; top:-200px; left:0;-webkit-transition:all .33s ease-out;
-moz-transition:all .33s ease-out;
-o-transition:all .33s ease-out;
-ms-transition:all .33s ease-out;}

.top a:hover{ }
.top a:hover .s1{ position:absolute; top:200px;}
.top a:hover .s2{ position:absolute; top:0;}



/****anli*****/
.tit2{ padding-top:110px;}
.tit2:hover{-webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);}

.content2{ width:1280px; margin:0 auto;}
.title4{ background:url(../images/x3.jpg) no-repeat center center; text-align:center; margin:35px auto;}
.title4 h2{ font-size:35px;font-weight:normal; margin-bottom:8px;}
.title4 h3{ font-size:14px; font-weight:normal; color:#888;}


.anlilist{ width:1190px; margin:0 auto;}
.anlilist dl{ width:1220px;}
.anlilist dl dd{ float:left; position:relative; -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out; margin-right:10px; margin-bottom:10px;}
.anlilist dl dd a img{ width:293px; height:238px; border-radius:8px;}
.anlilist dl dd div{ display:none; position:absolute;  left:0; top:0; height:238px; width:293px; z-index:999; background:url(../images/bga.fw.png);border-radius:8px;}
.anlilist dl dd div h2{ display:block; color:#fff; text-align:center; padding:30px 10px 20px 10px; font-size:20px; font-weight:normal;}
.anlilist dl dd div p{ color:#999; font-size:12px; padding:0 20px; color:#BDBEC3; line-height:22px;}
.anlilist dl dd:hover{ display:block;-webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1); z-index:9999;}
.anlilist dl dd:hover div{ display:block;}
/**分页**/
.fenye{ margin:40px auto; text-align:center;}
.fenye ul li{ margin-right:5px;display:inline-block;}
.fenye ul li.thisclass{padding:10px 15px; background:#D9251D; color:#fff;border:1px solid #D9251D;font-size:14px;border-radius:2px;}
.fenye ul li.now{padding:10px 15px;background:#D9251D; color:#fff;border:1px solid #D9251D;border-radius:2px;}
.fenye ul li a{ display:inline-block; padding:10px 15px; border:1px solid #E8E8E8; background:#F8F8F8; font-size:14px; border-radius:2px;}
.fenye ul li a:hover{ background:#D9251D; color:#fff; border:1px solid #D9251D;}
.fenye ul li.info{padding:10px 15px;border:1px solid #E8E8E8;}

.fenlei{ margin:0 auto; width:800px; margin-bottom:50px;}
.fenlei li{ float:left; border:2px solid #ddd; height:28px; padding:0 5px; margin-right:4px; line-height:28px; font-size:18px; color:#222; font-weight:normal; cursor:pointer; border-radius:2px; margin-bottom:5px;
}
.fenlei li a{ color:#333;}

.fenlei .hit{
	background:#D9251D; color:#fff; border:2px solid #D9251D;
}
.fenlei .l1{border:2px solid #ddd; color:#333;background:#f2f2f2;font-weight:normal;}
.fenlei .l2{border:2px solid #ddd; background:#D9251D; color:#fff; font-weight:normal;}
.fenlei .l3{ color:#333;}
.fenlei li:hover{ border:2px solid #D9251D;}
.fenlei .hit a{ color:#fff;}



/****anli_c****/

.anli_c{ width:1190px; margin:0 auto;}
.anli_c .where{ border-bottom:1px solid #ddd; height:50px; line-height:50px;}
.anli_c .where a{ display:block; border-bottom:2px solid #D9251D; width:120px; font-size:16px;}
.anli_c_1{  padding:80px 0; padding-left:200px;}
.anli_c_1 img{ width:256px; height:209px; margin-right:20px; box-shadow:0 0 5px #666;}
.anli_c_1 img:hover{}
.anli_c_1 h2{ font-size:38px; font-weight:normal;}
.anli_c_1 h3{ margin:11px 0 25px 0; color:#666; font-weight:normal;}
.anli_c_1 h4{ margin-bottom:11px;}
.anli_c_1 h4 span{ color:#888; font-weight:normal;}
.anli_c_1 h4 p{ background:#222; color:#fff; padding:5px 10px; font-size:20px; margin-top:5px; border-radius:3px; font-weight:normal;}
.anli_c_1 h5{ font-size:14px; font-weight:normal;}
.anli_c_2{ padding:0px 0 0px 0;}
#syp {
	Z-INDEX: 9999; POSITION: fixed;  WIDTH: 37px; bottom: 160px; HEIGHT: 162px; left:5px; _position: absolute
}
#syp a{ display:block; height:162px; width:37px; background:url(../images/syp.jpg);}
#syp a:hover{background:url(../images/syp2.jpg);}
#xyp {
	Z-INDEX: 9999; POSITION: fixed; WIDTH:37px; bottom: 160px; right:5px; HEIGHT: 162px; _position: absolute
}
#xyp a{ display:block; height:162px; width:37px; background:url(../images/xyp.jpg);}
#xyp a:hover{background:url(../images/xyp2.jpg);}

/*****news_c*****/
.news_c{ width:1190px; margin:0 auto;}
.news_c .where{ border-bottom:1px solid #ddd; height:50px; line-height:50px;}
.news_c .where a{ display:block; border-bottom:2px solid #D9251D; width:120px; font-size:16px;}
.news_c_left{ float:left; width:840px;margin-top:50px; padding-bottom:50px;}
.news_c_left h2{ font-size:30px; font-weight:normal;}
.news_c_left h3{ font-size:14px; color:#666; font-weight:normal; margin:15px 0;}
.news_c_left .news_c_content{ line-height:30px; font-size:14px; margin-top:40px; color:#666;}


.news_c_right{ float:right; width:300px; margin-top:50px;}
.news_c_right h2{ background:#333; color:#fff; height:44px; padding-left:20px; line-height:44px;}
.news_c_right ul{ border:1px solid #ddd; border-top:none; padding:10px;}
.news_c_right ul li{ padding:10px 0;}
.news_c_right ul li a{ font-size:14px;}
.news_c_right ul li a:hover{ text-decoration:underline;}


/****news******/
.newsa{ width:1190px; margin:0 auto;}
.newsa .where{ border-bottom:1px solid #ddd; height:50px; line-height:50px;}
.newsa .where a{ display:block; border-bottom:2px solid #D9251D; width:120px; font-size:16px;}
.newsa .where2{ border-bottom:1px solid #ddd; height:50px; line-height:50px;}
.newsa .where2 a{  font-size:16px;}
.newslist{ margin-top:40px;}
.newslist dl{ margin-bottom:50px; border:1px solid #ddd;}
.newslist dl:hover{ background:#f9f9f9;}
.newslist dl dt{ float:left;}
.newslist dl dt img{ width:245px; height:161px;}
.newslist dl .dd1{ float:left; width:720px; margin-left:20px; padding:20px 0;}
.newslist dl .dd1 h2{ font-size:20px; font-weight:normal;}
.newslist dl .dd1 h2 a{ color:#111; font-weight:bold;}
.newslist dl .dd1 span{ display:block; margin:20px 0; font-size:14px;}
.newslist dl .dd1 p{ font-size:14px; line-height:22px; color:#666;}
.newslist dl .dd2{ border-radius:8px; float:right; width:112px; height:112px; background:#EFEFEF; color:#333; margin:25px 20px 0 0;}
.newslist dl .dd2 b{ font-size:47px; text-align:center; display:block; border-bottom:1px solid #ddd; padding:15px 0; font-weight:normal; color:#666;}
.newslist dl .dd2 span{ color:#666; display:block; text-align:center; height:30px; line-height:30px;}


/****fuwu*******/
.tit8{ padding-top:90px;}
.tit8:hover{-webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);}

.xian{ height:2px; background:#eee; width:1190px; margin:25px auto;}
.xian span{ width:60px; background:#333333; height:2px; display:block;}
.fuwutit{ font-size:23px; margin:0 auto; width:1190px; color:#333345;}

.fuwu_list{ height:444px; margin:0 auto; width:1190px; position:relative;}
.fuwu_list .flc1{ background:url(../images/bg1.fw.png); width:459px; position:absolute; left:0; bottom:0; height:444px;}
.fuwu_list .flc2{ background:url(../images/bg2.fw.png); width:534px; position:absolute; right:0; bottom:0; height:444px;}
.fuwu_list .flc3{ background:url(../images/bg1.fw.png); width:459px; position:absolute; left:0; bottom:0; height:444px;}
.fuwu_list .flc4{ background:url(../images/bg2.fw.png); width:534px; position:absolute; right:0; bottom:0; height:444px;}


.fuwu_list ul li{ margin-bottom:10px; text-align:right; height:30px; line-height:30px;}
.fuwu_list ul li a{padding:8px 10px; border:1px solid #D6D6D6; text-align:center; color:#D6D6D6;-webkit-transition:all .33s ease-out;
-moz-transition:all .33s ease-out;
-o-transition:all .33s ease-out;
-ms-transition:all .33s ease-out;}

.fuwu_list ul li a:hover{ color:#fff; padding-right:15px; border:1px solid #fff;}

.fuwu_list .ul2 li{ margin-bottom:10px; text-align:left; height:30px; line-height:30px;}
.fuwu_list .ul2 li a{padding:8px 10px; border:1px solid #D6D6D6; text-align:center; color:#D6D6D6;}

.fuwu_list .ul2 li a:hover{ color:#fff; border:1px solid #fff;}
.fuwu_list .txt{ color:#fff;}
.fuwu_list .txt span{ background:#fff; color:#D9251D; height:30px; line-height:30px; padding:3px 5px; font-size:16px;}

.fuwu_list .zx{ border:1px solid #fff; height:40px; line-height:40px; color:#fff; width:100px; text-align:center; margin-left:75px;  margin-top:30px; display:block; font-size:18px;}
.fuwu_list .zx:hover{ background:#fff; color:#D9251D;}


.mapbg{height:0px; width:1190px; position:absolute; z-index:999; left:50%; margin-left:-595px; }
.contacta{  width:510px; height:450px; position:absolute; right:0; top:0; background:#fff; border-radius:5px; box-shadow:0 0 3px #aaa; border-radius:0 0 5px 5px; top:50px;}

.co{ padding:20px;}
.co p{ line-height:32px; font-size:14px; padding-left:40px; height:32px;}
.co p span{ position:absolute; left:20px; height:35px; line-height:35px; color:#999;}

.co2{ padding:20px; font-size:13px;}
.co2 p{ margin-bottom:10px; line-height:21px; color:#666; border-bottom:1px solid #eee; padding-bottom:10px; padding-left:50px; background:url(../images/yh.jpg) no-repeat;}
.co2 p span{ color:#111;}
.co2 .p1{ background-position:left 15px;}
.co2 .p2{ background-position:left -59px;}
.co2 .p3{ background-position:left -135px;}
.co2 .p4{ background-position:left -50px;}





















/****SIDEBAR*******/
.sidebar{ width:230px;}
.menu{}
.menu h2{ font-size:18px; font-family:"微软雅黑"; height:35px; line-height:35px; font-weight:normal;}
.menu ul{}
.menu ul li{ height:30px; line-height:30px; margin-bottom:2px;}
.menu ul li a{ height:30px; display:block; line-height:30px; background:#eee; padding-left:24px;}
.menu ul li a:hover{ background:#333; color:#fff;}



/**about**/
.article_about{}
.article_about h1{ font-size:25px; font-family:"微软雅黑"; margin:25px 0; text-align:center;}
.article_about .arcbar{ text-align:center; font-size:12px; color:#666; margin-bottom:20px;}
.article_about .arcdesp{ line-height:23px; color:#444; padding:8px 10px; border:1px solid #ddd;}
.article_about .arccont{line-height:28px;font-size:14px; color:#444;}
.article_about .arccont p{ font-size:14px; line-height:28px; text-indent:2em; margin-bottom:20px; color:#444;}

/**文字列表A**/
.txta_left{}
.txta_left h2{ margin:8px auto;}
.txta_left ul{ background:#eee; padding:10px;}
.txta_left ul li{height:30px; line-height:30px; background:url(../img/dian.gif) no-repeat left center; padding-left:10px;}
.txta_left ul li a{ font-size:12px; color:#555;}
.txta_left ul li a:hover{ color:#000000; text-decoration:underline;}

/**文字列表B**/
.txtb_news{}
.txtb_news ul{}
.txtb_news ul li{height:40px; line-height:40px; background:url(../img/dian.gif) no-repeat left center; padding-left:10px; border-bottom:1px dashed #ddd;}
.txtb_news ul li span{float:right; color:#999;}
.txtb_news ul li a{ font-size:14px; color:#555;}
.txtb_news ul li a:hover{ color:#000000; text-decoration:underline;}


/**内容区域**/
.article_news_c{}
.article_news_c h1{ font-size:25px; font-family:"微软雅黑"; margin:25px 0; text-align:center;}
.article_news_c .arcbar{ text-align:center; font-size:12px; color:#666; margin-bottom:20px;}
.article_news_c .arcdesp{ line-height:23px; color:#444; padding:8px 10px; border:1px solid #ddd;}
.article_news_c .arccont{line-height:28px;font-size:14px;}
.article_news_c .arccont p{ font-size:14px; line-height:28px; text-indent:2em; margin-bottom:20px;}


.sx{ height:50px; font-size:14px; line-height:25px; border-top:1px solid #ddd;border-bottom:1px solid #ddd; padding:10px 0 10px 20px; margin-bottom:30px; background:#eee;}
.sx a{ color:#333;}

/**图文列表B**/
.imgb_photo{ padding-top:20px;}
.imgb_photo ul{}
.imgb_photo ul li{ float:left; margin-bottom:30px; margin-left:10px;}
.imgb_photo ul li a.aimg{display:block;}
.imgb_photo ul li a.aimg:hover{}
.imgb_photo ul li a.aimg img{ width:175px; height:175px;}
.imgb_photo ul li a.atit{ display:block; margin-top:15px; text-align:center;}
.imgb_photo ul li a.atit:hover{ color:#000; text-decoration:underline;}


/**表单2**/
.formb_message{}
.formb_message form{}
.formb_message p{margin-bottom:15px; color:#666666; position:relative; padding-left:55px;}
.formb_message p label{ position:absolute; left:0; top:7px; text-align:right; width:50px;_left:-53px;}
.formb_message p em{ color:#F00; font-weight:bold; margin-left:8px;}
.formb_message .inputtext{ height:25px; line-height:25px; padding:0 5px; border:1px solid #aaa; background:#fff;outline:none;/**去除选中**/}
.formb_message .inputtext:hover{}
.formb_message .inputtextarea{ height:90px;  background:#fff; border:1px solid #aaa;outline:none;resize:none;/**去除可缩放按钮**/ line-height:19px; padding:3px 0 0 3px; overflow:hidden;overflow-x:none; overflow-y:}
.formb_message .inputbtn{ height:25px; width:90px; background:#aaa; border:none;}
.formb_message .inputbtn2{ height:25px; width:90px; background:#eee; border:none;}

















/***浮动****/
div.floats {/*浮动容器通用样式*/
	position:absolute;
	left:-1000px;
	/*上面两句是必需的，下面看实际情况去定义了*/
	
}
div#test1,div#test2{top:100px;}/*居中向左右定位容器初始高度*/
div#test3,div#test4{top:200px;}/*左右定位的两个容器初始高度*/
/***浮动end****/

/* 全屏轮播flexslider */
.flexslider{position:relative;height:593px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:593px;}
.slides li a{ display:block; height:100%; width:100%;}
.flex-control-nav{position:absolute;bottom:55px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:48px;height:6px;*display:inline;zoom:1; margin-left:6px;}
.flex-control-nav a{display:inline-block;width:48px;height:6px;line-height:6px;overflow:hidden;background:#fff;cursor:pointer; text-indent:-999999999px;}
.flex-control-nav .flex-active{background-position:0 0; background:#DA251D;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../images/next.png) center center no-repeat;}


/*flashbanner*/
#flashbanner{ width:1200px; background:#eee; min-height:3500px;} /**位置设置**/
#focus {width:1200px; min-height:3500px; overflow:hidden; position:relative;}
#focus ul {height:3500px; position:absolute;}
#focus ul li {float:left; width:1200px; min-height:3500px; overflow:hidden; position:relative; background:#fff;}
#focus ul li a img{ width:1200px;  height:auto;}
#focus ul li div {position:absolute; overflow:hidden;}
#focus .btnBg {position:absolute; width:900px; height:20px; left:0; bottom:0; background:none; display:none;} /***下黑条**/
#focus .btn {position:absolute; width:880; height:15px; padding:5px 10px; right:10px; bottom:10px; text-align:right;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; width:13px; height:13px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff; border-radius:15px;}/**排列**/
#focus .btn span.on {background:#fff;}
#focus .preNext {width:45px; height:100px; position:fixed; top:210px; background:url(../img/sprite.png) no-repeat 0 0; cursor:pointer;} /**上一个**/
#focus .pre {left:0;}
#focus .next {right:0; background-position:right top;} /**下一个***/
/**左边留空是因为缺少margin padding**/
/*flashbannerend*/

/**tab**/
.tagContent{DISPLAY: none; }
#tagContent DIV.selectTag { display:block;}
#tags{ background:#333; height:63px; line-height:63px;}
#tags li{ float:left; height:63px; line-height:63px; margin:0 0 0 10px;}
#tags li a{ display:block;  font-size:16px; color:#fff; padding:0 30px; line-height:53px; margin-top:10px; height:53px; line-height:52px; border-radius:3px 3px 0 0;}
#tags .selectTag a{ background:#fff; color:#333;}


/**flashimg**/
.ChanPinLianTu{}
.ChanPinLianTu li{ float:left; text-align:center; padding:0 8px; line-height:30px;}
.ChanPinLianTu li span{ display:block; width:108px; height:108px; text-align:center; border:1px solid #ebebeb;}
.ChanPinLianTu li a:hover{ color:#c40e25; text-decoration:underline;}
#ISL_Cont_1{ float:left; width:882px; overflow:hidden; margin-top:19px;}
.LeftBotton{ float:left; background:url(../img/LeftBotton.gif) no-repeat; width:11px; height:18px; margin:65px 15px 0 23px; cursor:pointer;}
.RightBotton{ float:left; background:url(../img/RightBotton.gif) no-repeat; width:11px; height:18px; margin:65px 0 0 15px; cursor:pointer;}

.CenterLei{ background:#fff; margin-top:-81px; position:relative; padding-top:15px; min-height:200px;}
.CenterLeft{ float:left; width:230px; margin-right:15px; margin-left:15px;}
.CenterRight{ float:left; width:690px; border-left:1px solid #ddd; padding-left:15px;}



/****BTN*****/
.btn1{ height:25px; line-height:25px; width:100px; text-align:center; color:#fff; background:#000; display:block; border-radius:3px;}


/*****FOOTC******/
.footc{}
.footc .flink{}
.footc .flink dl{ float:left; margin-left:160px;}
.footc .flink dl:first-child{ margin-left:0;}
.footc .flink dl dt{ font-size:16px; color:#000; margin-bottom:10px; border-bottom:1px solid #ddd;}
.footc .flink dl dd{ color:#666; line-height:20px;}
.footc .flink dl dt a{ color:#666;}
.footc .flink dl dt a:hover{ color:#ff0000;}
.footc .flink dl dd a{ color:#666;}
.footc .flink dl dd a:hover{ color:#ff0000;}


/******FOOTB*****/
.footb{ margin:50px auto; text-align:left; line-height:22px; background:url(../img/MapTu6.jpg) no-repeat; padding-left:140px;}
.footb .flink a{ padding:0 10px;}
.footb .flink a:hover{ color:#ff0000;}
.footb .copyright{ color:#666;}
.footb .copyright a{ color:#000;}


/*****FOOTA******/
.foota{ text-align:center; line-height:22px;}
.foota .flink a{ padding:0 10px;}
.foota .flink a:hover{ color:#ff0000;}
.foota .copyright{ color:#666;}
.foota .copyright a{ color:#ff0000;}



/*****CONTACT******/
.contact{}
.contact h2{ font-size:18px; font-family:"微软雅黑"; height:35px; line-height:35px; font-weight:normal; padding-left:10px;}
.contact p{ line-height:25px; background:#eee; padding:10px;}

/*****TABLEB******/
.tableb{ border:1px solid #ddd; width:100%; margin:20px auto;}
.tableb tr th{ border:1px solid #ddd; height:25px; background:#eee;}
.tableb tr td{ padding:5px 10px;border:1px solid #ddd; text-align:center;}


/*****TABLEA******/
.tablea{ border:1px solid #ddd; width:1000px;}
.tablea tr th{ border:1px solid #ddd; padding:5px 10px; background: #39F; color:#fff;}
.tablea tr td{ padding:5px 10px;border:1px solid #ddd; text-align:center;}


.newstab{ margin-top:15px;}
.newstab ul li{ float:left; margin-right:8px;}
.newstab ul li a{ border:1px solid #ddd; display:block; height:40px; line-height:40px; width:100px; text-align:center; position:relative; overflow:hidden; font-size:14px;}
.newstab ul li a span{ display:block; background:#d9251d; height:3px; width:100px; position:absolute; bottom:40px; left:0;-webkit-transition:all .13s ease-out;
-moz-transition:all .13s ease-out;
-o-transition:all .13s ease-out;
-ms-transition:all .13s ease-out;}
.newstab ul li a:hover{color:#D9251D; }
.newstab ul li a:hover span{ bottom:0px;}

.newstab ul li a.now span{ display:block; background:#d9251d; height:3px; width:100px; position:absolute; bottom:0px; left:0;-webkit-transition:all .13s ease-out;
-moz-transition:all .13s ease-out;
-o-transition:all .13s ease-out;
-ms-transition:all .13s ease-out;}



