<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Blog Edit</h3>
    <article>
        <label for="title">title</label>
        <input type="text" id="title" name="title">
        <label for="author">author</label>
        <input type="text" id='author'name='author'>
        <label for="content">content</label>
        <input type="text" id="content" name="content">
        
    </article>
    <button type="button">submit</button>
    <script src="/js/blogEdit.js">
        
    </script>
</body>
</html>